/* 
Fonts:
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;

Color:
#043873
#FFE492
#4F9CF9
*/

/* 
Google Fonts 
*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@400;500;700&display=swap");

/* 
Basic CSS
*/
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: #999;
  color: #ffffff;
  line-height: 1.7;
}
.theme-button {
  display: inline-block;
  background: #4f9cf9;
  color: #ffffff;
  border-radius: 8px;
  padding: 16px 24px !important;
  text-decoration: none;
  transition: 0.3ms;
}
.theme-button:hover {
  color: #ffffff;
}
.theme-button-two {
  display: inline-block;
  background: #ffe492;
  color: #043873 !important;
  border-radius: 8px;
  padding: 16px 24px !important;
}
.theme-button-three {
  display: inline-block;
  background: #fff;
  color: #212529 !important;
  border: 1px solid #ffe492;
  border-radius: 8px;
  padding: 16px 24px !important;
  text-decoration: none;
}
.theme-button img {
  margin-left: 10px;
}

.theme-text h3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 68px;
  color: #212529;
  margin-bottom: 15px;
}
.theme-text p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #212529;
}
.theme-text h3 span {
  position: relative;
  z-index: 1;
}
.theme-text h3 span::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 65px;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-image: url(img/element.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 991px) {
  .theme-text {
    text-align: center;
  }
  .theme-text h3 {
    font-size: 36px;
  }
}

/* 
Header Area CSS
*/
.header-area {
  background-color: #043873;
  padding: 16px 0;
}

.header-area .theme-button {
  margin-left: 24px;
}
.header-area .theme-button-two {
  margin-left: 24px;
}

.header-area .nav-link {
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  padding: 16px 24px !important;
}
.header-area .navbar-toggler {
  border: none;
  box-shadow: none;
}

@media (max-width: 991px) {
  .theme-button {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-top: 15px;
  }
  .theme-button-two {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-top: 15px;
  }
  .header-area .theme-button {
    margin-left: 0;
  }
  .header-area .theme-button-two {
    margin-left: 0;
  }
  .header-area .nav-link {
    padding: 16px 0 !important;
  }
  .header-area .nav-link {
    position: relative;
  }
  .header-area .nav-link::after {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
}

/* 
Hero Area CSS
*/
.hero-area {
  padding: 140px 0;
  background-image: url(img/hero-bg.png);
  background-size: cover;
  background-position: center;
}
.hero-text h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 52px;
}
.hero-area .theme-button {
  margin-top: 30px;
}

@media (max-width: 991px) {
  .hero-area {
    padding: 80px 0;
  }
  .hero-text {
    text-align: center;
  }
  .hero-text {
    font-size: 36px;
  }
  .hero-area .theme-button {
    margin-bottom: 50px;
  }
}

/* 
Managment Area CSS
*/
.managment-area {
  background-color: #ffffff;
  padding: 140px 0;
}
.work-managment {
  margin-top: 100px;
}

@media (max-width: 991px) {
  .managment-area {
    padding: 80px 0;
  }
  .work-managment {
    margin-top: 60px;
  }

  .managment-area .theme-button {
    margin-bottom: 50px;
  }
}

/* 
Extension Area CSS
*/
.extension-area {
  padding: 140px 0;
  background-color: #043873;
}
.extension-area .theme-text h3 {
  color: #ffffff;
}
.extension-area .theme-text p {
  color: #ffffff;
}

@media (max-width: 991px) {
  .extension-area {
    padding: 80px 0;
  }
  .extension-area .theme-button {
    margin-bottom: 50px;
  }
}

/* 
Customise Area CSS
*/
.customise-area {
  padding: 140px 0;
  background-color: #ffffff;
}

@media (max-width: 991px) {
  .customise-area {
    padding: 80px 0;
  }
}

/* 
Pricing Area CSS
*/
.pricing-area {
  padding: 140px 0;
  background-color: #ffffff;
}
.pricing-area .theme-text {
  margin-bottom: 60px;
}
.single-pricing {
  color: #212529;
  border: 1px solid #ffe492;
  border-radius: 10px;
  padding: 40px 44px;
}
.single-pricing h4 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
}
.single-pricing h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin: 20px 0;
}
.single-pricing ul {
  margin: 0;
  padding: 0;
  margin: 25px 0;
}
.single-pricing ul li {
  list-style: none;
  margin-bottom: 28px;
}
.single-pricing ul li:last-child {
  margin-bottom: 0;
}
.special-pricing {
  padding: 80px 44px;
  background-color: #043873;
  color: #fff;
}
.special-pricing h2 {
  color: #ffe492;
}

@media (max-width: 991px) {
  .pricing-area {
    padding: 80px 0;
  }
  .single-pricing {
    margin-bottom: 30px;
  }
}

/* 
Your Work Area CSS
*/
.your-work-area {
  padding: 140px 0;
  background-color: #043873;
  color: #fff;
}
.your-work-area .theme-text h3 {
  color: #fff;
}
.your-work-area .theme-text p {
  color: #fff;
  margin-bottom: 60px;
}
